@use "../../styles/breakpoints.scss" as *;
.layout {
  max-width: 1280px;
  padding: 3rem;
  margin: auto;
}

.main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  width: 48%;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.mainContent {
  width: 52%;
}

@media (max-width: ($bp-tablet)) {
  .main {
    flex-direction: column;
  }
  .header {
    position: static;
    height: auto;
  }

  .mainContent {
    width: 100%;
  }
}

@media (max-width: ($bp-mobile)) {
  .layout {
    padding: 1.5rem;
  }

  .header {
    width: 100%;
  }

  .mainContent {
    width: 100%;
  }
}
