@use "../../styles/breakpoints.scss" as *;
.layout {
  max-width: 1280px;
  padding: 5rem 3rem 3rem;
  margin: auto;
}

.togglesWrapper {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1000;
  background-color: var(--bg);
  

  @media (max-width: ($bp-mobile)) {
    background: none;
    backdrop-filter: blur(4px);
  }
}

.sidebar {
  width: 48%;
  height: calc(100vh - 5rem);
  position: fixed;
  top: 5rem;
  left: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 6rem;
}

.mainContent {
  margin-left: 48%;
  width: 52%;
  height: 100%;
}

@media (max-width: ($bp-tablet)) {
  .main {
    flex-direction: column;
  }
  .sidebar {
    display: block;
    width: 100%;
    position: static;
    height: auto;
    padding-top: 1rem;
    padding-right: 0;
  }

  .mainContent {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: ($bp-mobile)) {
  .layout {
    padding: 1.5rem;
  }
}
