.languageToggle {
  display: flex;
  gap: 1rem;
}

.languageButton {
  background: none;
  border: none;
  color: var(--lightest-slate);
  font-family: var(--font-main);
  font-size: 1.5rem;
  cursor: pointer;
  padding-bottom: 0.25rem;
  transition: color 0.3s ease;

  &:hover,
  &:focus-visible {
    color: var(--accent);
  }
}

.active {
  border-bottom: 2px solid var(--accent);
}
