@use "./_variables.scss" as *;
@use "./fonts.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--lightest-slate);
  font-family: var(--font-main);
  font-feature-settings: "ss07", "cv11";
  line-height: 1.5;
}

::selection {
  background-color: var(--accent);
  color: #0a192f;
}

::-moz-selection {
  background-color: var(--accent);
  color: #0a192f;
}

a {
  color: var(--dark-accent);
  font-family: var(--font-mono);
  text-decoration: none;
  font-size: 1rem;

  &:hover,
  &:focus-visible {
    color: var(--accent);
  }
}
