@use "./_variables.scss" as *;
@use "./breakpoints.scss" as *;

h1 {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-title-big);
  line-height: 1;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  color: var(--accent);
  font-size: var(--font-size-title-main);
}

h3 {
  font-size: var(--font-size-title-card);
  line-height: 1.25;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  color: var(--light-slate);
  font-size: var(--font-size-text-main);
  line-height: 1.6;
}

@media (max-width: ($bp-mobile)) {
  h1 {
    font-size: 2rem;
  }
}
