@use "../../styles/breakpoints.scss" as *;

.toggles {
  width: 100%;
  max-width: 1280px;
  padding: 3rem 3rem 2rem;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  

  @media (max-width: ($bp-mobile)) {
    padding: 1.5rem 1.5rem 2rem;
  }
}
