@use "../../styles/breakpoints.scss" as *;

.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--lightest-slate);

  @media (max-width: ($bp-tablet)) {
    display: block;
    padding-bottom: 3rem;
  }

  @media (max-width: ($bp-mobile)) {
    padding-bottom: 0;
  }
}
