@use "../../styles/breakpoints.scss" as *;

.header {
  background-color: var(--bg);
  padding: 3rem 0 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--lightest-slate);

  @media (max-width: ($bp-tablet)) {
    display: block;
    padding-bottom: 3rem;
  }
}
