.list {
  display: flex;
  align-items: center;
  gap: 1.25rem; // 20px между иконками
}

.link {
  display: block;
  color: var(--slate);
  font-size: 1.5rem; // размер иконок ~24px
  transition: color 0.3s ease;
}
